<h1>Ascendant Global Trading, LLC</h1>
<h2>Ascendant Global Trading, LLC is a master limited partnership engaged in the wholesale and commercial distribution of refined petroleum products, and provides ancillary services to companies domestically and internationally. </h2>