<div class="hero">
   <br />
 <div class="frosty col-10 offset-1 text-center">
   <br />

<br />
<h2>Ascendant Global Trading, LLC is a Limited Liability Company engaged in the wholesale and commercial distribution of refined petroleum products, and provides ancillary services to companies domestically and internationally. </h2>
<br />
 <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
 <br /><br />
  </div>
</div>

<br />

  <div class="col-12 col-sm">
    <h3>Petroleum</h3>
     <br />
    <p>We are a highly specialized Physical Commodity Trader of both Crude Oil, its by-products and Global Financial Instruments.We hold the titles and/or allocations for these commodities and our supplier and clients are direct, established, well-known and trusted companies in the industry. We do NOT deal with broker and intermediary chains. Physical raw commodities successfully traded include Aviation Kerosene Colonial Pipeline Grade 54 Jet Fuel JPA & A-1, Diesel Fuel D2 Russian & Venezuelan Gas Oil, Mazut M100, Russian Export Blended Crude Oil, LPG, Saudi & Bonny Light Crude Oil and Kazakhstan Blended Crude Oil</p>
  </div>
  </div>
  
  <div class="col-12 col-sm">
    <h3>Oil</h3>

    <br />
    <p> Ascendant Global Trading, LLC has partnered and represents various manufacturers, suppliers, refineries and allocation holders to serve internationally to the customer needs Customers: Our Key Customers are Government Institutions, Non- Profit Organization, UN organizations, Wholesalers, Importers . We are a professional trading firm engaged in sourcing various commodities for many different companies and businesses. Together with our reliable, professional and experienced sources, we can bring quality products, at low cost and with long term stability to even the most conflict regions of the world. </p>

  </div>

  <div class="col-12 col-sm">
    <h3>Sugar and other Commodities</h3>
    <br/>
    <p>
      Ascendant Global Trading, LLC has entered in contract with multiple refineries and resellers as a leading global supplier of sugar.The refinery, operates in the domestic and international market for sugar and, honoring their genuine commitment to excellence in the production and delivery of its products.
  </div>
</div>